<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.homepage_lephamhungha_mobile">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Homepage_LePhamHungHa_mobile"
        tools:targetApi="31">
        <activity
            android:name=".ComboPageActivity"
            android:exported="false" />
        <activity
            android:name=".SeatActivity"
            android:exported="false" />
        <activity
            android:name=".ScreeningActivity"
            android:exported="false" /> <!-- Main Activity -->
        <activity
            android:name=".MainHome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other Activities -->
        <activity android:name=".Selected_film" />
        <activity
            android:name=".Cinema"
            android:exported="false" />
        <activity
            android:name=".News_main"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".OffersActivity"
            android:exported="false" />
    </application>

</manifest>